/*Tanner Dow 12/14/2021*/

.homebg {
    background-image: url('../images/img/Background5.jpg');
}

.Navigation {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
}

.textnav {
    text-align: right;
    font-size: 25px;
}

.common {
    text-align: center;
    font-size: 25px;
    background-color: white;
}

.tabnav {
    left: 50px;
    right: 50px;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 75px;
    background-color: rgb(216, 216, 216);
}

.footertext {
    font-size: 20px;
    text-align: center;
    color: rgb(58, 58, 58);
}